<div th:fragment="menu">
    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="tm-site-header">
        <!--<div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>-->
        <h1 class="text-center">GiveLink</h1>
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const path = window.location.pathname;

            if (path === '/') {
                document.getElementById('index')?.classList.add('active');
            } else if (path.startsWith('/news')) {
                document.getElementById('news')?.classList.add('active');
            } else if (path.startsWith('/community')) {
                document.getElementById('community')?.classList.add('active');
            }
        });
    </script>

    <nav class="tm-nav" id="tm-nav">
        <ul>
            <!--원래는 develop하던 page develop stop-->
<!--            <li class="tm-nav-item" id="index"><a href="/" class="tm-nav-link">
                <i class="fas fa-pen"></i>
                기술 블로그
            </a></li>-->

            <li class="tm-nav-item" id="vue-v-model"><a href="/v-model" class="tm-nav-link">
                <i class="fas fa-pen"></i>
                1. v-model 실습
            </a></li>

            <li class="tm-nav-item" id="community"><a href="/v-if" class="tm-nav-link">
                <i class="fas fa-users"></i>
                2. v-if 실습
            </a></li>
            <li class="tm-nav-item" id="html-standard"><a href="/html/htmlStandard" class="tm-nav-link">
                <i class="fas fa-users"></i>
                3. html 기본 실습
            </a></li>

<!--            <li class="tm-nav-item" ><a href="/" class="tm-nav-link">
                <i class="fas fa-pen"></i>
                기술 블로그
            </a></li>
            <li class="tm-nav-item" ><a href="/news" class="tm-nav-link">
                <i class="fas fa-pen"></i>
                기술 뉴스
            </a></li>
            <li class="tm-nav-item" ><a href="/community" class="tm-nav-link">
                <i class="fas fa-users"></i>
                기술 커뮤니티
            </a></li>
            <li class="tm-nav-item" ><a href="/" class="tm-nav-link">
                <i class="fas fa-pen"></i>
                기술 블로그
            </a></li>
            <li class="tm-nav-item" ><a href="/news" class="tm-nav-link">
                <i class="fas fa-pen"></i>
                기술 뉴스
            </a></li>
            <li class="tm-nav-item" ><a href="/community" class="tm-nav-link">
                <i class="fas fa-users"></i>
                기술 커뮤니티
            </a></li>-->
<!--            <li class="tm-nav-item"><a href="/contact" class="tm-nav-link">
                <i class="far fa-comments"></i>
                기술 
            </a></li>-->
        </ul>
    </nav>

    <p class="tm-mb-80 pr-5 text-white">
        GiveLink는 게시물 추천 사이트
        <br> 더 많은 정보를 원하시는 경우
        <br>검색기능을 활용해보세요.
    </p>
</div>