<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiveLink</title>
    <link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- https://fonts.google.com/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/templatemo-xtra-blog.css" rel="stylesheet">
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="/resouce/js/mews.js"></script>


<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <!-- menu include -->
        <div th:replace="fragments/menu :: menu"></div>
    </div>
</header>
<div class="container-fluid">
    <main class="tm-main">
        <!-- Search form -->
        <div class="row tm-row">
            <div class="col-12">
                <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                    <input class="form-control tm-search-input" name="query" type="text" placeholder=""
                           aria-label="Search">
                    <button class="tm-search-button" type="submit">
                        <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="row tm-row">
            <div id="app">
                <p>{{ message }}</p>
                <p v-model="message"></p>
                <h1 v-if="vueDataVisible">Vue is awesome!</h1>
                <li v-for="skill in skillList">{{ skill }}</li>
                <!-- 사용자 입력 -->
                <input v-model="newTodo" placeholder="할 일을 입력하세요"/>
                <button @click="addTodo">추가</button>
                <!-- 남은 할 일 개수 -->
                <p>남은 일: {{ remainingCount }}</p>

                <!-- 할 일 목록 -->
                <ul>
                    <li v-for="(todo, index) in todos" :key="index">
                      <span :class="{ done: todo.done }" @click="toggleTodo(index)">
                        {{ todo.text }}
                      </span>
                    </li>
                </ul>

                <!-- 입력 감지 메시지 -->
                <p v-if="inputChanged">입력값이 바뀌었어요!</p>
            </div>


            <article class="col-12 col-md-6 tm-post">
                <hr class="tm-hr-primary">
                <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                    <div class="tm-post-link-inner">
                        <img src="img/img-01.jpg" alt="Image" class="img-fluid">
                    </div>
                    <h2 class="tm-pt-30 tm-color-primary tm-post-title">Simple and useful HTML layout</h2>
                </a>
                <p class="tm-pt-30">
                    There is a clickable image with beautiful hover effect and active title link for each post item.
                    Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.
                </p>
            </article>
            <!--
                           <article class="col-12 col-md-6 tm-post">
                               <hr class="tm-hr-primary">
                               <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
                                   <div class=" tm-post-link-inner">
                                       <img src="img/img-02.jpg" alt="Image" class="img-fluid">
                                   </div>
                                   <h2 class="tm-pt-30 tm-color-primary tm-post-title">Multi-purpose blog template</h2>
                               </a>
                               <p class="tm-pt-30">
                                   <a rel="nofollow" href="https://templatemo.com/tm-553-xtra-blog" target="_blank">Xtra Blog</a>  is a multi-purpose HTML CSS template from TemplateMo website.
                                   Blog list, single post, about, contact pages are included. Left sidebar fixed width and content area is a fluid full-width.
                               </p>
                           </article>
                           <article class="col-12 col-md-6 tm-post">
                               <hr class="tm-hr-primary">
                               <a href="post.html" class="effect-lily tm-post-link tm-pt-20">
                                   <div class="tm-post-link-inner">
                                       <img src="img/img-03.jpg" alt="Image" class="img-fluid">
                                   </div>
                                   <h2 class="tm-pt-30 tm-color-primary tm-post-title">How can you apply Xtra Blog</h2>
                               </a>
                               <p class="tm-pt-30">
                                   You are <u>allowed</u> to convert this template as any kind of CMS theme or template for your custom website builder.
                                   You can also use this for your clients. Thank you for choosing us.
                               </p>
                           </article>
                           <article class="col-12 col-md-6 tm-post">
                               <hr class="tm-hr-primary">
                               <a href="post.html" class="effect-lily tm-post-link tm-pt-20">
                                   <div class="tm-post-link-inner">
                                       <img src="img/img-04.jpg" alt="Image" class="img-fluid">
                                   </div>
                                   <h2 class="tm-pt-30 tm-color-primary tm-post-title">A little restriction to apply</h2>
                               </a>
                               <p class="tm-pt-30">
                                   You are <u>not allowed</u> to re-distribute this template as a downloadable ZIP file on any template collection
                                   website. This is strongly prohibited as we worked hard for this template. Please contact TemplateMo for more information.
                               </p>
                           </article>
                           <article class="col-12 col-md-6 tm-post">
                               <hr class="tm-hr-primary">
                               <a href="post.html" class="effect-lily tm-post-link tm-pt-20">
                                   <div class="tm-post-link-inner">
                                       <img src="img/img-05.jpg" alt="Image" class="img-fluid">
                                   </div>
                                   <h2 class="tm-pt-30 tm-color-primary tm-post-title">Color hexa values of Xtra Blog</h2>
                               </a>
                               <p class="tm-pt-30">
                                   If you wish to kindly support us, please contact us or contribute a small PayPal amount to info [at] templatemo.com that is helpful for us.
                                   <br>
                                   Title #099 New #0CC <br>
                               </p>
                           </article>
                           <article class="col-12 col-md-6 tm-post">
                               <hr class="tm-hr-primary">
                               <a href="post.html" class="effect-lily tm-post-link tm-pt-20">
                                   <div class="tm-post-link-inner">
                                       <img src="img/img-06.jpg" alt="Image" class="img-fluid">
                                   </div>
                                   <h2 class="tm-pt-30 tm-color-primary tm-post-title">Donec convallis varius risus</h2>
                               </a>
                               <p class="tm-pt-30">
                                   Quisque id ipsum vel sem maximus vulputate sed quis velit. Nunc vel turpis eget orci elementum cursus vitae in eros. Quisque vulputate nulla ut dolor consectetur luctus.
                               </p>
                           </article>-->
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </main>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/templatemo-script.js"></script>
<script src="/js/news.js"></script>

</body>
</html>