<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<body>
Hypertext markup Language (HTML) is the standard markup language for  <strong> creating <u>web</u> pages </strong> and web applications.
<br>HTML Paragraphs
<br>The Html <p> elements defines a paragraph.</p>
<br>A paragraph always starts on a new line, and browsers automatically add some while space (a margin) before and after a paragraph.
<br>HTML Display
<br>You cannot be sure how HTML will be displayed.
<br>Large or small screens, and resized windows will create different results.
<br>With HTML, you cannot change the display by adding extra spaces or extra lines in your HTML code.
<br>The browser will automatically remove any extra spaces and lines when the page is displayed:
<br>HTML Examples
<br>In this HTML tutorial, you will find more than 200 examples. With our online "Try ir Yourself" editor, you can edit and test each example yourself!
<br>HTML Links are defined with the <a>tag</a>
<br>The link's destination is specified in the href attribute.
<br>attributes are used to provide additional information about HTML elements.
<br>You will learn mire about attributes in a later chapter.
<br>Nested HTML Elements
<br>HTML elements can be nested (this means that elements can contain other elements).
<br>Example Explained
<br>the html elements is the root element and it defines the whole HTML documents.
<br>It has a start tag html and an end tag html
<br>Then, inside the html element there is a body element
<br>The body element defines the document's body.
<br>It has a start tag <h1> and an end tag </h1>
<br>The <p> element defines a paragraph.</p>
<br>It has a start tag <p> and an end tag </p>:
<br>Empty HTML Elements
<br>HTML elements with no content ate called empty elements.
<br>The <br> tag defines a line break, and is an empty element without a closing tag:
<br>HTML is Not Case Sensitive
<br>HTML tags are not case sensitive <p> means the same as</p>.
<br>The HTML standard does not require lowercase tags, but W3C recommends lowercase in HTML, and demands lowercase for stricter
<br>document types like XHTML.
The src Attribute
the img tag is used to embed an image in an HTML page. the src attribute specifies the path to the image to be displayed:
There are two ways to specify the URL in the src attribute
The width and height Attributes
the img tag should also contain the width and height attributes, which specify the width and height of the image (in pixels):
The alt Attribute
The required alt attribute for the img tag specifies an alternate text for an image, if the image for some reason cannot be displayed.
This can be due to a slow connection, or and error in the src attribute, or if the user uses a screen reader.
The style Attribute
The style attribute is used to add styles to an element, such as color, font, size, and more.
The lang Attribute
You should always include the lang attribute inside the html tag, to declare the language of the Web page. This is meant to assert search engines and browsers.
The following example specifies English as the language:
Country codes can also be added to the language code in the lang attribute. So, the first two characters define the language of the HTML page,
and the last two character define the country.
The following example specifies English as the language and United States as the country:
You can see all the language codes in our HTML Language Code Reference.
The title Attribute
The title attribute defines some extra information about an element.
The value of the title attributes will be displayed as a tooltip when you mouse over the element:


</body>
</html>